<section class="home-coll">
    <div style="background-image: url(https://cdn.shopify.com/s/files/1/0420/0998/5190/files/slideer_2048x_b20b8694-78c6-4c26-ba50-4720825f5cef.jpg?v=1599568237)" class="bgd">

    </div>
    <div  class="text-bgd">
        <h1>Linge de lit</h1>
        <h2>
            <p>Une collection d'essentiels ultra-confortables dans une percale de coton douce, fraîche et légère de 115 fils / cm².</p>
        </h2>
    </div>
</section>
<section class="coll-menu">
    {% section 'collection_menu' %}
</section>
<section class="allproducts">
    {% section 'all_products' %}
</section>
