<section class="faq">
    <div class="theme-container">
        <div class="page-container">
            <div class="page-head">

            </div>
            <div class="page-content">
                <div class="side-bar">
                    <div class="contact-bar">
                        <ul class="scrolling-nav">
                            <li>
                                <a href="#livraison">livraison<span data-numb></span></a>
                            </li>
                            <li>
                                <a href="#commandes">commandes<span data-numb></span></a>
                            </li>
                            <li>
                                <a href="#retours">retours et échanges<span data-numb></span></a>
                            </li>
                            <li>
                                <a href="#paiement">paiement<span data-numb></span></a>
                            </li>
                            <li>
                                <a href="#produits">nos produits<span data-numb></span></a>
                            </li>
                        </ul>
                        <div class="contact-us">
                            <h2 class="contact-title">Nous contacter</h2>
                            <div class="contact-desc">
                                <p>Pour toute autre question écrivez-nous à <strong> contact@greige.fr</strong> ou appelez-nous au ‍01 ‍88 ‍32 ‍78 ‍66</p>
                            </div>
                            <a href="/pages/contact">Contactez-nous</a>
                        </div>
                    </div>
                </div>
                <div class="faq-bar">
                    {% section 'faq-1' %}
                    {% section 'faq-2' %}
                    {% section 'faq-3' %}
                    {% section 'faq-4' %}
                    {% section 'faq-5' %}
                </div>
            </div>
        </div>
    </div>
</section>
{% section 'collection_banner' %}
