<div class="add_area">
    <div class="add">
        <div class="quantity">
            <p class="title">quantité</p>
            <div class="form">
                <a href class="minus"></a>
                <input type="text" name="quantity" value="1">
                <a href class="plus"></a>
            </div>
        </div>
    </div>
    <div class="buttons">
        <div class="message">
            <p><span class="ship-icon"></span>Livraison et retours gratuits !</p>
        </div>
        <a href class="add-to-cart"><i></i>AJOUTER AU PANIER</a>
    </div>
</div>
