<div class="product-tabs__nav">
    <div class="product-tabs__nav-title selected" data-rank="0">
        Description
    </div>
    <div class="product-tabs__nav-title" data-rank="1">
        Détails
    </div>
    <div class="product-tabs__nav-title" data-rank="2">
        Livraison et retours
    </div>
</div>
<div class="product-tabs__block product-tabs__block--deployed" data-rank="0">
    <div class="product-tabs__block-title selected" data-rank="0">
            Description
    </div>
    <div class="product-tabs__block-content">
        <p></p>
        <span>{{ product.description }}</span>
        <p></p>
        <p></p>
        <em>Associez votre housse de couette à nos draps housse et taies d'oreiller en ton sur ton ou en mix &amp; match&nbsp;&nbsp;</em>
        <p></p>
        <p></p>
    </div>
</div>
<div class="product-tabs__block" data-rank="1">
    <div class="product-tabs__block-title" data-rank="1">
            Détails
    </div>
    <div class="product-tabs__block-content">
        <p></p>
        <ul>
            <li>
            <strong>Qualité supérieure</strong> : percale 100% coton longues fibres 115 fils / cm²</li>
            <li>
            <strong>Confectionné en France</strong> : Epinal, Vosges</li>
            <li>
            <strong>Tailles disponibles :</strong> 200x200, 220x240, 240x260</li>
            <li>
            <strong>Certification</strong> : OEKO-TEX<span>®</span> Standard 100&nbsp;</li>
            <li>
            <strong>Finitions</strong>&nbsp;:&nbsp;fermeture bouteille (à l'exception du modèle Bleu Azur)</li>
            <li>
            <strong>Le saviez-vous ?</strong> Notre<span style="color: #000000;"><a href="https://www.greige.fr/blogs/all/la-percale-le-secret-d-une-bonne-nuit-de-sommeil" target="_blank" title="percale de coton" style="color: #000000;" rel="noopener noreferrer"> percale de coton </a></span>s'adoucit après chaque lavage.</li>
        </ul>
        <p></p>
    </div>
</div>
<div class="product-tabs__block" data-rank="2">
    <div class="product-tabs__block-title" data-rank="2">
            Livraison et retours
    </div>
    <div class="product-tabs__block-content">
        <p></p>
        <strong>Livraison rapide</strong><br><br>Livraison Colissimo domicile en 2-3 jours ouvrés : gratuit dès 89€ d'achat&nbsp;<p></p>
        Livraison Mondial Relay en 3-5 jours ouvrés :&nbsp;gratuit dès 89€ d'achat&nbsp;<span style="color: #000000;"></span><p></p>
        <br><strong>Retours gratuits</strong><br>Les retours sont faciles et gratuits, vous disposez d'un délai de 30 jours à compter de la date de réception de votre colis pour nous retourner vos achats.&nbsp;<p></p>
        &nbsp;<p></p>
        <span style="text-decoration: underline;"><a href="https://www.greige.fr/pages/livraison-et-retours" target="_blank" title="Livraison et retours" rel="noopener noreferrer">Livraison et retours</a></span><p></p>
        &nbsp;<p></p>
    </div>
</div>
