
    <div id="commandes" class="block">
        <h2 class="faq-title">Commandes</h2>
        {%- for block in section.blocks -%}
            <div class="position">
                <p class="head">{{ block.settings.qst }}</p>
                <p class="body">{{ block.settings.ans }}</p>
            </div>
        {%- endfor -%}
    </div>


{% schema %}
{
    "name": "FAQ-2",
    "blocks": [
      {
        "name": "subject",
        "type": "text",
        "settings": [
            {
                "type": "text",
                "id": "qst",
                "label": "question"
            },
            {
                "type": "textarea",
                "id": "ans",
                "label": "réponse"
            }
        ]
      }
    ]
  }
{% endschema %}
