<div class="commit-page">
    <h1 class="commit-title">{{ section.settings.title }}</h1>
    <div class="commit-button">
        <a {% if page.title == "mission" %} class="alt" {% endif %} href="{{ section.settings.page_1 }}">nos engagements</a>
        <a {% if page.title == "engagements" %} class="alt" {% endif %} href="{{ section.settings.page_2 }}">notre mission</a>
    </div>
</div>

{% schema %}
{
  "name": "mission",
  "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "titre"
        },
        {
            "type": "page",
            "id": "page_1",
            "label": "page 1"
        },
        {
            "type": "page",
            "id": "page_2",
            "label": "page 2"
        }
  ]
}
{% endschema %}
