<div id="sizes"><a href="" class="close"></a>
  <div class="title">Guide des tailles</div>

  <table>
    <thead>
      <tr>
        <th>Dimension de votre matelas</th>
        <th>Drap housse (bonnet 30 cm)</th>
        <th>Housse de couette</th>
        <th>Taies d'oreiller</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>140x190 / 200</td>
        <td>140x190</td>
        <td>200 x 200 <small>(belle  retombée sur un lit 1 personne et faible retombée sur un lit 2 personnes)</small> ou 240 x 220 <small>(la taille standard)</small> </td>
        <td rowspan="3"><small>Taies carrées:</small>65 x 65 <small>Taies rectangulaires:</small>50 x 70</td>
      </tr>
      <tr>
        <td>160 x 200</td>
        <td>160 x 200</td>
        <td>240 x 220 <small>(retombée de 40 cm)</small> ou 240 x 260 <small>(retombée de 50 cm)</small></td>
      </tr>
      <tr>
        <td>180 x 200</td>
        <td>180 x 200</td>
        <td>240 x 260</td>
      </tr>
    </tbody>
  </table>


</div>
