<div class="text-section">
    <h1>{{ section.settings.title }}</h1>
    <p>{{ section.settings.text }}</p>
</div>

{% schema %}
{
  "name": "text1",
  "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "titre"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "text"
        }
  ],
  "presets": [
    {
        "category": "text",
        "name": "text-section 1"
    }
  ]
}
{% endschema %}
